@media screen and (min-width: 768px) {
  .header {
    grid-template-areas: "title title"
                         "nav-wrap nav-wrap"
                         "info img"
                         "s-links s-links"
                         ;
    grid-template-columns: minmax(320px, 1024px) minmax(320px, 1024px) ;
    grid-template-rows: 60px  60px minmax(350px, .8fr) 60px;
    }
  .title-wrap {
    grid-area: title;
    display: flex;
    justify-content: center;
    background: #fff;
    margin-top: 0;
    }
  .info {
    grid-area: info;
  }
  .s-links{
    display: inline;
    align-self: center;
    justify-self: right;
  }
  .arrow {
    display: inline;
    align-self: center;
    margin-left: 10%;
  }
}