.header {
  display: grid;
  grid-template-areas: "title"
                       "nav-wrap"
                       "img"
                       "info";
  grid-template-columns: minmax(320px, 1366px) ;
  grid-template-rows: 60px  90px minmax(350px, .8fr) 350px;
  background-color: $clr-gray-light;
  margin-bottom: 15%;

  &__img{
    grid-area: img;
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    max-height: 100%;
    display: block;
    object-fit: scale-down;
  }

}
.title {
  grid-area: title;
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 10px;
  margin-top: 0;
}
.header__nav {
  grid-area: nav-wrap;
  display: flex;
  justify-content: space-between;
  margin: 0 15px 40px;
  padding-top: 60px ;
  align-self: center;


  ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
  &-link {
    letter-spacing: 1px;
    color: $clr-black;
    text-decoration: none;
    padding-right: 25px;
  }
}

.info {
  align-self: center;
  margin: 0 auto;
}
.slogan, .header__logo, .btn-dark-lg {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.slogan {
  letter-spacing: 2px;
}
.header__logo {
  width: 80%;
}
.btn-dark-lg {
  cursor: pointer;
  outline: none;
  border: none;
  background: $clr-black;
  color: #fff;
  padding: 20px 25px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 40px;

  &:hover {
    opacity: .8;
  }
}

.s-links, .arrow {
  display: none ;
}


